html, html * {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

.center-parent {
    justify-content: center;
    align-items: center;
}

.button {
    box-shadow: 0px 0px 8px hsl(255, 100%, 83%);
    background-color: white;
}

.button:hover {
    background-color: hsl(265, 84%, 76%);
    cursor: pointer;
}

.button p {
    color: hsl(265, 84%, 76%);
}

.button:hover p {
    color: white;
}

.slider {
    box-sizing: border-box;
}

.slider > .scale {
    position: relative;
    height: 100%;
    display: flex;
}

.slider > .scale > .leftBar {
    height: 100%;
    width: 0%;
}

.slider > .scale > .rightBar {
    height: 100%;
    width: 100%;
    
}

.slider > .scale > .handle-box {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider > .scale > .handle-box > .handle {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}