html, html * {
    margin: 0;
    font-family: 'Trebuchet MS', 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

.center-parent {
    justify-content: center;
    align-items: center;
}

.button {
    box-shadow: 0px 0px 8px hsl(255, 100%, 83%);
    background-color: white;
}

.button:hover {
    background-color: hsl(265, 84%, 76%);
    cursor: pointer;
}

.button p {
    color: hsl(265, 84%, 76%);
}

.button:hover p {
    color: white;
}