.slider {
    -webkit-appearance: none; /* Hides the default slider appearance in WebKit browsers */
    width: 100%; /* Width of the slider */
    height: 10px; /* Height of the slider */
    background: #d3d3d3; /* Background color of the slider track */
    outline: none; /* Removes the outline */
    opacity: 0.7; /* Opacity of the slider track */
    -webkit-transition: .2s; /* Adds a smooth transition on hover */
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hides the default thumb appearance in WebKit browsers */
    appearance: none; /* Hides the default thumb appearance in other browsers */
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    /* box-shadow: 0px 0px 8px hsl(255, 100%, 75%); */
    background-color: white; /* Color of the thumb */
    cursor: pointer; /* Changes the cursor to a pointer */
    border-radius: 50%; /* Makes the thumb round */
  }
  
  #lol > .slider::-moz-range-thumb {
    width: 25px; /* Width of the thumb for Firefox */
    height: 25px; /* Height of the thumb for Firefox */
    background: #4caf50; /* Color of the thumb for Firefox */
    cursor: pointer; /* Changes the cursor to a pointer for Firefox */
    border-radius: 50%; /* Makes the thumb round for Firefox */
  }
  